:root {
  --color-success-light: hsl(144 83% 96%);
  --color-success: hsl(118 100% 78%);
  --color-success-dark: hsl(155 96% 24%);

  --color-danger-light: hsl(4 88% 97%);
  --color-danger: hsl(0 100% 71%);
  --color-danger-dark: hsl(4 76% 40%);

  --color-bg: hsl(0 0% 100%);
  --color-bg-muted: hsl(0 0% 0% / 0.35);

  --color-text: hsl(0 0% 0%);
  --color-text-muted: hsl(0 0% 53%);

  --color-button: hsl(284 95% 41%);
  --color-button-border: hsl(220 6% 85%);
  --color-button-hover: hsl(274 96% 30%);
  --color-button-focus: hsl(18 79% 67%);
  --color-button-focus-outline: hsl(267 100% 96%);

  --color-input-text: hsl(220 24% 12%);
  --color-input-disabled: hsl(0 0% 98%);
  --color-input-disabled-text: hsl(220 6% 47%);

  --color-sidebar-shadow: hsl(0 0% 0% / 0.18);
  --color-sidebar-button-hover: hsl(0 0% 46% / 0.05);

  --color-chat-input-focus-outline: hsl(284 95% 41% / 0.25);

  --color-nav-button-bg: hsl(0 0% 92%);
}
