.block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.block:not(:last-of-type) {
  margin-bottom: 24px;
}

.tableWrapper {
  overflow-x: auto;
  padding: 4px;
}

.table {
  box-shadow: 0 0 10px 0 var(--color-shadow);
  border-radius: 12px;
  padding: 12px;
}

.avatarName {
  display: flex;
  align-items: center;
  gap: 12px;
}

.name {
  font-weight: 600;
  font-size: 20px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 600;
}
