.input {
  padding: 10px 14px;
  border-radius: 12px;
  border: 1px solid hsla(220, 6%, 85%, 1);
  font-size: 16px;
}
.input:focus {
  outline: 4px solid hsla(267, 100%, 96%, 1);
  border-color: var(--c-primary);
}
