.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 12px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 36px;
  margin-top: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  width: 100%;
}

.label {
  font-size: 14px;
  font-weight: 500;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
