.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 12px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 36px;
  margin-top: 8px;
}
