.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  width: 400px;
  margin: 0 12px;
}

.heading {
  font-size: 24px;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin: 0 24px;
}

.error {
  color: #ea2c2c;
  font-weight: 600;
}
