.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  width: 400px;
  margin: 0 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin: 0 24px;
}

.error {
  color: var(--color-danger);
  font-weight: 600;
}
