.input {
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #f5f5f5;
}

.input:hover {
  background-color: #f5f5f5;
}

.input:focus {
  outline: 2px solid #9605CA;
  outline-offset: 1px;
}
