.input {
  padding: 12px 16px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #f5f5f5;
  width: 100%;
}
.input:focus {
  outline: 2px solid #9605ca;
  outline-offset: 1px;
}
