.wrapper {
  flex: 1;
  padding: 24px 64px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 10px;
}

.title {
  font-size: 36px;
  font-weight: 600;
}
