.sidebarButton {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 200ms, color 200ms;
  width: 100%;
}
.sidebarButton:disabled {
  cursor: not-allowed;
}

.default {
  color: var(--color-text);
  background-color: transparent;
}
.default:hover {
  background-color: var(--color-bg-secondary);
}
.default:active {
  background-color: color-mix(in srgb, var(--color-bg-secondary), #000 10%);
}

.danger {
  color: var(--color-danger);
  background-color: transparent;
}
.danger:hover {
  background-color: color-mix(in srgb, var(--color-danger), #fff 90%);
}
.danger:active {
  background-color: color-mix(in srgb, var(--color-danger), #fff 80%);
}
.danger:disabled {
  color: var(--color-text);
  background-color: var(--color-bg-secondary);
}

.loader {
  animation: 2s loader linear infinite;
}
@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
