.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-button);
  color: var(--color-bg);
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}
.button:hover {
  background-color: var(--color-button-hover);
}
.button:focus {
  background-color: var(--color-button-focus);
  outline: 4px solid var(--color-button-focus-outline);
}
.button:disabled {
  background-color: var(--color-button-focus);
  cursor: default;
}

.md {
  padding: 10px 16px;
}

.icon {
  padding: 8px;
}
