.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-bg);
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.2s,
    border-color 0.2s;
}

.md {
  padding: 10px 16px;
}
.sm {
  padding: 8px 14px;
}
.icon {
  padding: 8px;
}

.primary {
  background-color: var(--color-button);
}
.primary:hover {
  background-color: var(--color-button-hover);
}
.primary:focus,
.primary.selected {
  background-color: var(--color-button-focus);
  outline: 4px solid var(--color-button-focus-outline);
}
.primary:disabled {
  background-color: var(--color-button-focus);
  cursor: default;
}

.secondary {
  background-color: var(--color-input-disabled);
  border: 1px solid var(--color-button-border);
  color: var(--color-text);
}
.secondary:hover,
.secondary.selected {
  border-color: var(--color-text-muted);
}
.secondary:disabled {
  cursor: default;
}
