.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  50% {
    transform: scale(1.2);
  }
}
