.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
}

.title {
  text-align: center;
}

.modelName {
  font-weight: 400;
}

.input {
  flex: 1;
}

.form {
  display: flex;
  gap: 8px;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
  gap: 12px;
}

.message {
  padding: 12px;
  border-radius: 8px;
  background-color: var(--color-muted);
  width: fit-content;
}
.userMessage {
  margin-left: auto;
}
