.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(100vh - 112px);
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
}

.form {
  display: flex;
  gap: 8px;
  margin-top: auto;

  input {
    width: 100%;
  }
}
