.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
}

.title {
  text-align: center;
}

.modelName {
  font-weight: 400;
}

.input {
  flex: 1;
}

.form {
  display: flex;
  gap: 8px;
  margin-top: auto;
}
