.chats {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 250px;
  border: 2px solid #f5f5f5;
  border-radius: 12px;
  padding: 16px;
  overflow-y: auto;
  text-align: center;
}

.title {
  font-size: 14px;
  letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
  .chats {
    overflow-y: visible;
    width: auto;
  }
}
