.filters {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.searchInput {
  max-width: 320px;
}

.filterSelect {
  max-width: 160px;
}

.content {
  box-shadow: 0 0 10px 0 var(--color-shadow);
  border-radius: 12px;
  overflow-x: auto;
}

.titleBlock {
  padding: 20px 24px;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.description {
  font-size: 12px;
}

.tagWrapper {
  display: flex;
  justify-content: center;
}

.name {
  color: var(--color-gray-900);
  font-weight: 500;
  font-size: 14px;
}

.username {
  color: var(--color-gray-600);
  font-size: 14px;
}
