html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Montserrat Variable', sans-serif;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 2px solid var(--color-muted);
  padding: 4px 8px;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 600;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

hr {
  border: 1px solid var(--color-muted);
  width: 100%;
}
