:root {
  --color-primary: #b624db;
  --color-primary-accent: #9b28b8;

  --color-danger: #ff4343;
  --color-danger-accent: #ffdede;

  --color-muted: #e2e2e2;

  --color-bg: #f6f6f6;
  --color-text: #0c0c0c;
}
