:root {
  --color-primary: #b624db;
  --color-primary-accent: #9b28b8;

  --color-danger: #ff4343;
  --color-danger-accent: #ffe6e6;

  --color-muted: #ebebeb;

  --color-bg: #f6f6f6;
  --color-text: #0c0c0c;
}
