:root {
  /* OLD THEME */
  --color-primary: #b624db;
  --color-primary-accent: #9b28b8;

  --color-danger: #ff4343;
  --color-danger-accent: #ffe6e6;

  --color-muted: #ebebeb;

  --color-bg: #f6f6f6;
  --color-text: #0c0c0c;

  /* REDESIGNED THEME */
  --c-text: hsla(240, 5%, 4%, 1);
  --c-bg: hsla(0, 0%, 100%, 1);

  --c-muted: hsla(0, 0%, 46%, 0.05);

  --c-primary: hsla(284, 95%, 41%, 1);
  --c-primary-accent: hsla(274, 96%, 30%, 1);

  --c-input: hsla(227, 22%, 86%, 1);
}
