.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 24px;
}

.smile {
  font-size: 64px;
}

.description {
  font-weight: 600;
  font-size: 24px;
}
