.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 200ms;
}
.button:hover {
  background-color: var(--button-hover-color);
}
.button:active {
  background-color: var(--button-active-color);
}
.button:disabled {
  color: var(--button-disabled-text-color);
  background-color: var(--button-disabled-color);
}

.loader {
  animation: 2s loader linear infinite;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
