.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 200ms;
  color: var(--color-bg);
}
.button:disabled {
  background-color: color-mix(in srgb, var(--color-primary), #000 40%);
  cursor: not-allowed;
}

.primary {
  padding: 12px 16px;
  border-radius: 4px;
  background-color: var(--color-primary);
}
.primary:hover {
  background-color: color-mix(in srgb, var(--color-primary), #000 20%);
}
.primary:disabled {
  background-color: color-mix(in srgb, var(--color-primary), #000 40%);
}

.icon {
  padding: 8px;
  border-radius: 50px;
  background-color: transparent;
}
.icon:hover {
  background-color: var(--color-bg-secondary);
}

.loader {
  animation: 2s loader linear infinite;
}
@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
