.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 200ms;
  background-color: var(--color-primary);
  color: var(--color-bg);
}
.button:hover {
  background-color: color-mix(in srgb, var(--color-primary), #000 20%);
}
.button:active {
  background-color: color-mix(in srgb, var(--color-primary), #000 40%);
}
.button:disabled {
  background-color: color-mix(in srgb, var(--color-primary), #000 40%);
  cursor: not-allowed;
}

.loader {
  animation: 2s loader linear infinite;
}
@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
