.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.models {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.model {
  border: 2px solid #2c2c2c;
  padding: 16px;
  margin-bottom: 8px;
  cursor: pointer;
  width: 160px;
  text-align: center;

  &:hover {
    background-color: #2c2c2c;
  }
}
