.sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 32px;
  padding: 48px 24px;
  box-shadow: 0 0 24px 0 var(--color-shadow);
  border-radius: 24px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  font-weight: 700;
  display: block;
}

.description {
  font-size: 14px;
}

.recentsText {
  font-size: 14px;
  color: var(--color-gray-500);
}

.recents {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
}

.bottom {
  margin-top: auto;
}

.userName {
  text-align: start;
  display: block;
  font-weight: 600;
}

.userInfo {
  font-size: 10px;
}
