@use '@/assets/styles/vars';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: vars.$background;
  border: 1px solid vars.$input-outline;
  border-radius: 8px;
  min-width: 360px;
  transition: background-color 0.2s;
  gap: 8px;

  h1 {
    font-weight: bold;
  }
}

.buttons {
  display: flex;
  gap: 8px;
}
