.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #f5f5f5;
  padding: 12px;
  border-radius: 12px;
  transition: background-color 0.2s ease;
}
.card:hover {
  background-color: #f5f5f5;
}

.name {
  font-weight: 500;
}

.time {
  font-size: 14px;
  color: #575757;
}
