.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #f5f5f5;
  padding: 12px;
  border-radius: 12px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.card:hover {
  background-color: #f5f5f5;
}

.name {
  font-weight: 500;
}

.time {
  font-size: 14px;
  color: #575757;
}
.card:hover .time {
  display: none;
}

.delete {
  display: none;
  padding: 2px;
  border-radius: 500px;
}
.card:hover .delete {
  display: block;
}

.delete:hover {
  background-color: #e8e8e8;
}
