.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 32px 48px 0 48px;
  height: 100%;
  box-sizing: border-box;
}

.header {
  width: 100%;
}

.modelName {
  font-weight: 700;
  font-size: 18px;
}

.model {
  font-weight: 500;
  color: var(--text-muted);
}

.messages {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow-y: auto;
  margin: 32px auto;
  padding: 0 200px;
  box-sizing: border-box;
  gap: 32px;
  flex: 1;
  width: 100%;
}

.disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: var(--color-text-muted);
  margin: 12px auto 0 auto;
}
