.form {
  display: flex;
  gap: 12px;
  margin-bottom: 4px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.error {
  font-size: 14px;
  font-weight: 500;
  color: #ed4f4f;
}
