.input {
  background-color: var(--color-muted);
  color: var(--color-text);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 12px;
}
.input:focus {
  outline: 2px solid var(--color-primary);
}
