.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dialog-backdrop);
}

.dialog {
  background-color: var(--color-white);
  border-radius: 24px;
  padding: 48px;
}
