.button {
  padding: 12px;
  font-size: 14px;
  font-weight: 600;
  color: var(--c-bg);
  background-color: var(--c-primary);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: var(--c-primary-accent);
}
