@use '@/assets/styles/vars';

.message {
  padding: 16px;
  background-color: vars.$model-card-hover;
  border-radius: 12px;
}

.thinking {
  opacity: 0.4;
  overflow-x: scroll;
  white-space: nowrap;
}
