.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.author {
  font-weight: 500;
  font-size: 14px;
  margin: 0 8px;
}

.message {
  padding: 16px;
  border-radius: 12px;
  background-color: #f5f5f5;
}
