@use '@/assets/styles/vars';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: vars.$background;
  border: 1px solid vars.$input-outline;
  border-radius: 8px;
  min-width: 360px;
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: vars.$model-card-hover;
  }
}
