.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 16px;
  border-radius: 8px;
  width: 300px;
  height: 250px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: none;
}
.card:hover {
  background-color: #ebebeb;
}

.name {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.additionalInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
