.wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 2px 8px;
  border-radius: 48px;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 48px;
}

.text {
  font-size: 10px;
  font-weight: 600;
}

.success {
  background-color: var(--color-success-light);
}

.success .dot {
  background-color: var(--color-success);
}

.success .text {
  color: var(--color-success-dark);
}

.danger {
  background-color: var(--color-danger-light);
}

.danger .dot {
  background-color: var(--color-danger);
}

.danger .text {
  color: var(--color-danger-dark);
}
