* {
  font-family: 'Montserrat Variable', sans-serif;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 500px;
  margin-bottom: 32px;
}

input, select {
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #f5f5f5;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus {
  outline: 2px solid #9605CA;
  outline-offset: 1px;
}
