* {
  font-family: 'Montserrat Variable', sans-serif;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  margin: 24px 0;
}

td,
th {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

input,
select {
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #f5f5f5;
}

input[type='text']:focus,
input[type='password']:focus,
select:focus {
  outline: 2px solid #9605ca;
  outline-offset: 1px;
}

label {
  font-size: 14px;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 500px;
  width: 100%;
  margin: 24px 0;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 16px;
  height: 32px;
  width: 32px;
}
.btn-icon:hover {
  background-color: #f5f5f5;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
