body {
  font-family: monospace;
  margin: 0;
  background-color: #101010;
  color: #eaeaea;
}

input {
  font-family: monospace;
  font-size: 16px;
  color: #eaeaea;
  background-color: #2c2c2c;
  border: none;
  padding: 16px;

  &:focus {
    outline: 4px solid #761fac;
  }
}

input[type='submit'] {
  cursor: pointer;

  &:hover {
    background-color: #761fac;
  }
}

a {
  color: #eaeaea;
}
