* {
  font-family: 'Montserrat Variable', sans-serif;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  margin: 24px 0;
}

td,
th {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 16px;
  height: 32px;
  width: 32px;
}
.btn-icon:hover {
  background-color: #f5f5f5;
}
