* {
  font-family: 'Montserrat Variable', sans-serif;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

