.wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  50% {
    transform: scale(1.2);
  }
}
