:root {
  --background: #eaeaea;
  --foreground: #101010;
  --input-outline: #a7a7a7;
  --brand: #9605ca;

  --button-focus: #573d60;
  --button-disabled: #36253b;
}

@font-face {
  font-family: 'Comfortaa';
  src: url(../fonts/Comfortaa.ttf);
}

* {
  font-family: 'Comfortaa', sans-serif;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
}

h1 {
  font-weight: 300;
  font-size: 24px;
}

.link {
  text-decoration: none;
  color: var(--foreground);

  &:hover {
    text-decoration: underline;
  }
}

.input {
  font-size: 16px;
  padding: 16px;
  border: 1px solid var(--input-outline);
  background-color: var(--background);
  transition: outline 0.1s linear;
  border-radius: 4px;

  &:focus {
    outline: 3px solid var(--brand);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  padding: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: var(--brand);
  color: var(--background);
  transition: background-color 0.2s linear;

  &:hover,
  &:focus {
    background-color: var(--button-focus);
  }

  &:disabled {
    background-color: var(--button-disabled);
  }
}
