html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Montserrat Variable', sans-serif;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid var(--text-color);
  padding: 4px 8px;
}
