html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Montserrat Variable', sans-serif;
}
