.card {
  padding: 16px 12px;
  border: 1px solid var(--color-button);
  border-radius: 20px;
  min-width: 300px;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.card:hover {
  box-shadow: 0 0 12px 0 var(--color-chat-input-focus-outline);
}

.name {
  font-weight: 700;
  font-size: 18px;
}

.model {
  display: block;
  font-weight: 500;
  color: var(--color-text-muted);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
