.textarea {
  padding: 10px 14px;
  font-size: 14px;
  border: none;
  border: 1px solid var(--color-button-border);
  border-radius: 8px;
  resize: vertical;
}
.textarea:focus {
  border-color: var(--color-button);
  outline: 4px solid var(--color-button-focus-outline);
}
.textarea:disabled {
  background-color: var(--color-input-disabled);
  color: var(--color-input-disabled-text);
}
