.textarea {
  resize: vertical;
  width: 100%;
  padding: 10px 14px;
  font-size: 12px;
  border: 1px solid var(--color-gray-300);
  border-radius: 8px;
  outline: 4px solid transparent;
  transition:
    border-color 200ms,
    outline-color 200ms;
}
.textarea:focus {
  border-color: var(--color-primary);
  outline: 4px solid var(--color-brand-100);
}
