.wrapper {
  display: flex;
  align-items: center;
  border-radius: 24px;
  width: 900px;
  transition: box-shadow 0.2s;
  box-shadow: 0 0 2px 0 var(--color-chat-input-focus-outline);
}
.wrapper:hover,
.wrapper:focus-within {
  box-shadow: 0 0 8px 0 var(--color-chat-input-focus-outline);
}

.chatInput {
  flex: 1;
  font-size: 16px;
  border-radius: 24px;
  padding: 24px 30px;
  border: none;
  outline: none;
}

.send {
  margin: 0 30px;
}
